body{
    background-color: #0b2a38;
    box-sizing:border-box;
}

main{
    min-height: 90vh;
}

p{
    color:#fff;
    font-family: 'Roboto Mono', monospace;
    margin: 2%;
    font-size:1.5em;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
     padding:10px;
    display:flex;
    flex-direction: column;
    height:500px;
    width:400px;
    background-color: #000;
    border-radius:2%;
    box-shadow: 0px 0px 25px #291a1a;
}

.display{
    flex:1;
    margin:10px;  
}

#result, #history{
    font-family: 'VT323', monospace;
    color:#fff;
    text-align: right;

}

#result{
    font-size: 2em;
    overflow:hidden;
}

#history{
    font-size: 1em;
    margin: 0;
    margin-right: 0px;

margin-right: 10px;
}

.calcBody{
     display:flex;
     flex: 100%;
    
}
.left{
    display:flex;
    flex-wrap: wrap;
    flex: 75%;
   
}

.right{
     display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 25%;
   
    
}

.left button, .right button{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border:1px solid rgba(0,0,0,.3);
    
}

.right button{
    background-color: #8f9396;
    flex:1;
}


.right button:hover, .left button:hover{
     border:1px solid rgba(255, 255, 255, 0.3);
}

.right button:hover p, .left button:hover p{
     color:#0d0d0d;
}


.ac{
    flex:58%;
    background-color: rgb(167, 56, 56);  

}

.ac:focus{
    background-color: rgb(114, 39, 39);
}

.operation{
    flex:24%;
    background-color: rgb(143, 147, 150);
}

.operation:focus{
    background-color: rgb(100, 100, 100);
}

.number{
    flex:32.3%;
    background-color: rgb(101, 127, 145);
    transition: all .07s ease;
}
.number:focus{
    background-color: rgb(72, 90, 103);
}

.zero{
     flex:66%;
}
.right .equal{
   flex:20%;
}

